

/** flex : column direction **/
.flex_column,
.wrapper_login_signup,
#forms .signup ul li{
    display: flex;
    flex-direction: column;
}

/*
*
* wrapper login/signup
*
**/
.wrapper_login_signup{
    position: absolute;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom right,#d412aa,#8E65EB);
    z-index: 11;
    display: none;
    opacity: 0;
}


.login_signup{
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    max-width: 550px;
    width: 100%;
    border-radius: 7px;
}


.login_signup .welcome{
    z-index: 1;
    position: relative;
    height: 100%;
    width: 60%;
}

.login_signup img{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.login_signup .welcome::after{
    content: "";
    position: absolute;
    background-color: rgba(65, 105, 225,.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
}


/*
*
* forms
*
*/
#forms{
    position: relative;
    width: 40%;
    max-width:300px;
    padding: 10px 25px;
    border-radius: 0 10px 10px 0;
}

#forms .signup ul li{
    margin-top: 15px;
}

#forms label{
    color: rgb(65, 61, 61);
}

#forms input{
    margin-top: 4px;
    border: none;
    border-bottom: solid 1px var(--primary--clr);
    outline: none;
    font-size: .9rem;
    padding: 7px 0;
    color: var(--nav-anchor-clr);
    transition: all .7s ease-in-out;
}

#forms input:hover{
    border-bottom: solid 1px #d412aa;
}

#forms button{
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    background:linear-gradient(to right,#8E65EB,#d412aa);
    background-position: right;
    background-size: 200%;
    transition: all .5s ease-in-out;
}

#forms button:hover{
    background-position: left;
}

#go_to_login,
#go_to_signup{
    color: blue;
    text-transform: lowercase;
    margin: auto;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}


/** login / signup forms **/
.login,
.register{
    position: absolute;
    background-color: #fff;
    transition: all .5s ease-in;
}



/** hide/show form **/
.hide_form{
    transform: translateX(-250px);
}

#closeBtn{
    position: absolute;
    top: 15px ;
    right: 5%;
    z-index: 10;
}

#closeBtn img{
    width: 40px;
    opacity: .4;
    cursor: pointer;
}


.show_form_wrapper{
    display: flex;
    animation: wrapperAnim 0.4s ease-in forwards;
}
@keyframes wrapperAnim{
    to{opacity: 1;}
}



@media screen and (max-width:625px){

    .login_signup{
        flex-direction: column;
        width: 90%;
        height: 90%;
        align-items: center;
        z-index: 1;
    }

    .wrapper_login_signup,
    .login_signup{
        background-image: url('/images/codding.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #forms .signup ul li{
        max-width: 350px;  
    }

    .login_signup::after{
        content: "";
        background-color: rgba(255, 255, 255,.6);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 10px;
    }

    .welcome{
        display: none;
    }
      
    .login,
    .register{
        background-color: transparent; 
        left: 50%;
        transform: translateX(-50%);
    } 
    

    #forms input{
        background-color: transparent;
        padding-left: 5px;
        outline: 2px solid transparent;
        border: 1px var(--nav-anchor-clr) solid;
        border-radius: 5px;
        width: 240px;
    }
    
    #forms input:hover,
    #forms input:focus{
        border: 1px var(--secondary--clr) solid;
    }

    #closeBtn{
        top: 35px;
        right: 6%;
    }
    
    .hide_form{
        transform: translateX(-250%)
    }
}
