



/** Search icon **/

.container nav ul {
    align-items: center;
}

.container  nav .search img{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

/** Section : challenges **/
section.challenges{
    width: 90%;
    margin:100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    
}

.challenge{
    width: 350px;
    border: var(--primary--clr) solid 1px;
    position: relative;
    border-radius: 4px;
    transition: all .5s ease-out;
    margin: auto;
    margin-top: 50px;
}

.challenge img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    transition: all .5s ease;
}

.challenge:hover{
    transform: scale(1.02);
    border: var(--primary--clr) solid 1px;
    box-shadow:  1px 1px 10px rgba(0, 0, 0,.2);
}

.challenge .ch_content{
    width: 90%;
    margin:20px auto;
}
.challenge .langs_nad_techs{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.challenge .title{
    margin: 10px 0;
}
.challenge .descreption{
    margin: 20px 0;
    line-height: 1.6;
    opacity: .8;
    font-size: .90rem;
}

.challenge  .level {
    text-align: center;
}
.challenge  .level_txt{
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: bolder;
    padding-bottom: 15px;
}


.challenge .view{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.challenge .view {
    padding: 12px 20px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(to right,var(--primary--clr),var(--secondary--clr));
    outline: none;
}
.challenge .view a{
    color: #fff;
}
.ml-10{
    margin-left: 10px;
}

.html{
    color: orangered;
}
.css{
    color: slateblue;
    margin-left: 10px;
}
.js{
    color: #ecec10;
    margin-left: 10px;
}

.api{
    color: teal;
}
.intermediate{
    color: #FDCE81;
}