


.container header nav{
    background-color: var(--primary--clr);
    border-bottom: none;
}

.container header nav li a:hover{
    border-bottom: transparent solid;
    color: #94c7c7;
}

.container header nav a{
    color: #fff;
}

.container .btn-menu .line{
    background-color: #fff;
}

.container nav.scrolling{
    box-shadow: 0 0 0;
    background-color: var(--primary--clr);
}

.shadow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    display: none;
}
#close{
    position: absolute;
    right: 5%;
    top: 15px;
    font-size: 2rem;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    outline: 2px solid rgba(255, 255, 255, 0.6);
}
#close:hover{
    outline: 2px solid var(--primary--clr);
}
/****** wrapper  
***************/
.wrapper{
    width: 90%;
    max-width: 400px;
    margin: auto;
    top: 35px;
    transform: translate(-50%);
    left:50%;
    z-index: 11;
    position: absolute;
    background-color: rgb(236, 233, 233); 
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    padding-bottom: 10px;
    display: none;
}

.show_form{
    display: flex;
    opacity: 0;
    animation: animateWrapper  .5s ease-in-out forwards;
 }
 @keyframes animateWrapper{
     to{
         opacity: 1;
     }
 }
 



.wrapper form {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.wrapper li {
    margin-top: 10px;
} 
.wrapper label{
    font-size: 1.3rem;
}

.wrapper input,
.wrapper textarea{
    padding:9px 0;
    padding-left: 9px;
    outline:none;
    width: 100%;
    border: 1px solid var(--primary--clr);
    transition: all .3s ease;
    font-size: 1.1rem;
    color: var(--primary--clr);
}

.wrapper input:hover,
.wrapper textarea:hover{
    border: 1px solid var(--primary--clr);
    outline: solid 3px rgba(142, 101, 235,0.4);
    border-radius: 0;
}

.wrapper input{
    border-radius: 20px;
    
}

.wrapper textarea{
    border-radius: 10px;
}

.wrapper button{
    float:right;
    width: 100px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: var(--primary--clr);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    background-image: linear-gradient(to right,var(--primary--clr),var(--secondary--clr));
    background-position: left;
    background-size: 200%;
    transition: all .5s ease-in;
}
    
.wrapper button:hover{
    background-position: right;
}



