:root{
    --light--clr2:#7d7888;
}



/** Search icon **/

.container nav ul {
    align-items: center;
}

.container  nav .filter_icon img{
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 3;
}

/***** Filter form
*******************/
.container .filter{
    position: absolute;
    width: 60%;
    top: 35px;
    right: 8.1%;
    background-color: #F9F8FD;
    border: var(--light--clr1) solid 1px;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease;
}
.container .form_filter ul{
    min-width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.container .form_filter ul img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 2px;
}

.container .filter .keys{
    border: 1px solid var(--light--clr1);
    border-radius: 5px;
    position: relative;
    padding: 2px 5px 2px 0;
}
.container .filter .keys input{
    height: 24px;
    margin-left: 25px;
    border: none;
    outline: none;
}
.container .filter  label{
    color: var(--darck--clr1);
    margin-right: 5px;
    letter-spacing: 1px;
}
.container .filter select{
    padding: 5px;
    border-color: var(--light--clr1);
    background-color: transparent;
    font-size: .9rem;
    border-radius: 5px;
    color: var(--light--clr2);
    letter-spacing: 1px;
    outline: none;
}

/** Section : challenges **/
section.challenges{
    width: 90%;
    margin:100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    
}

.challenge{
    width: 350px;
    border: var(--light--clr1) solid 1px;
    position: relative;
    border-radius: 4px;
    transition: all .5s ease-out;
    margin: auto;
    margin-top: 50px;
}
.challenge .ch_level{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    transform: rotate(-90deg);
    align-items: center;
    height: 40px;
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0,.4);    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 98%, 14% 51%); 
}
.challenge img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    transition: all .5s ease;
    border-bottom: 1px solid var(--light--clr1)  ;
}

.challenge:hover{
    transform: scale(1.02);
    border: var(--primary--clr) solid 1px;
    box-shadow:  1px 1px 10px rgba(0, 0, 0,.2);
}

.challenge .ch_content{
    width: 90%;
    margin:20px auto;
}
.challenge .langs_nad_techs{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.challenge .title{
    margin: 10px 0;
}
.challenge .descreption{
    margin: 20px 0;
    line-height: 1.6;
    opacity: .8;
    font-size: .90rem;
}

.challenge  .stat {
    text-align: center;
}
.challenge  .stat_txt{
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
    font-weight: bolder;
    padding-bottom: 15px;
    opacity: .8;
}


.challenge .view{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    padding: 14px 20px;
    width: 200px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(to right,var(--primary--clr),var(--secondary--clr));
    outline: none;
    cursor: pointer;
}
.challenge .view a{
    color: #fff;
}
.ml-10{
    margin-left: 10px;
}



/***** Waitting for events
***************************/

/** Schow filter menu **/
.container .filter.show_filter_form{   
    opacity: 1;
}
